@media (min-width:320px) and (max-width:480px){
    .headerInfo a {
        background: #f8c12c none repeat scroll 0 0;
        border-radius: 4px;
        color: #333;
        display: block;
        font-size: 16px;
        font-weight: 600;
        height: 20%;
        letter-spacing: 0.5px;
        padding: 12px;
        text-transform: capitalize;
        transition: all 500ms ease 0s;
        width: 44%;
        margin-top: 12px;
    }
    .Hmenu{
        display: none;
    }
    .menusocail a {
        margin-right: 15px;
    }
    .MobileMenu {
        cursor: pointer !important;
        display: block;
        height: 26px;
        line-height: 0.2;
        width: 30px;
        position: absolute;
        top: 0;
        right: 17px;
        z-index: 9999;
    }
    .MobileMenu span {
        background: #fff;
        display: inline-block;
        height: 2px;
        width: 100%;
    }
    .fixedHeader {
        padding: 30px 6px;
    }
    .sliderContent h1 {
        font-size: 33px;
    }
    .sliderContent h4{
        font-size: 20px;
    }
    .sliderContent p {
        font-size: 14px;
    }
    .slider {
        padding: 70px 0;
    }
    .slider3{
        padding: 70px 0;
    }
    .slider2{
        padding: 70px 0;
    }
    .pull-right {
        float: left !important;
        margin-top: 27px;
    }
    .ab-btun {
        margin-bottom: 48px;
    }
    .employersPart h2 {
        margin-top: 30px;
    }
    .employearsSec{
        padding: 25px 0;
    }
    .partnerSec {
        padding: 25px 0;
    }
    .singlePartner{
        margin-bottom: 24px;
    }
}
