---
layout: mates
title: About
---
        <!--start about page-->
        <section class="aboutmeSec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="aboutMeContent">
                            <h2 class="text-center">about us</h2>
                            <ul class="text-center">
                                <li>our approach</li>
                                <li>our vision and values</li>
                                <li>our commitment</li>
                                <li>our team</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end about page-->

        <!--start approch section-->
        <section class="approachSec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="approachItem">
                            <h2>our approach</h2>
                            <p>MATES GLOBAL is the recruitment agency well known in the market establishment
                                serving its clients for the last six years delivering work force in Australia.
                                We understand the demand and the employer’s needs to grow your business. 
                                We are actively involved in a number of industry bodies and ensure to keep abreast 
                                of market trends affecting the supply and demand of human capital.
                            </p>
                            <p>Having our recruitment agency based in Australia, we know where to look in order to find you
                                the qualified employees you need. Many positions are highly specialized and therefore headhunting 
                                is the only way to actually get in touch with highly relevant candidates and make them aware of
                                the opportunity that our client has to offer. We do this through direct head hunting as well as advertising, 
                                while we do use the social networks we don’t rely only on these. However, many people 
                                are registered with sites like LinkedIn or others, many are not and can only be reached through real, 
                                honest-to-goodness headhunting. We look at each individual position, decide what the best method of
                                recruitment is and deliver the results you are expecting.
                            </p>
                            <p>We mainly focus on International Students helping the overseas new comers, 
                                it is a big task to find right jobs to meet their expenses and living in new work 
                                environment. Our organisation offers training and counselling sessions to bridge the gap
                                between Australian workforce and overseas work approach.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="approachImg">
                            <img src="{{ site.baseurl }}assets/images/certify.jpg" alt="certiff">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <section class="approachSec1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="approachImg approachImg1">
                            <img src="{{ site.baseurl }}assets/images/think.jpg" alt="certiff">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="approachItem">
                            <h2>Our Vision and Values</h2>
                            <p>Mates global is committed to provide efficient and reliable staff to its clients, 
                                our main motto is client satisfaction and help them grow their business. All our candidates are
                                scrutinized for different levels of skills, communication capabilities, knowledge on work and working in
                                team spirit. We strive to deliver competitiveness and maintain ethical code of conduct among the staff members. 
                                Bringing candidates with varied knowledge, skilled and semi-skilled are employed who respect time value and money
                                while rendering their services to the employers.
                            </p>
                            <p>Clients can rely on our system of recruitment, the commitment, excellence and accountability that
                                we maintain makes us a trusted agent in the market. We keep updating the latest rules and regulations 
                                and comply with the Fair work commission and being active chamber member of NSW Chamber of Fruits and
                                vegetable industry in Flemington. Such activities make us confident in providing true professional 
                                development of our staff and candidates. We treat each client with utmost importance and maintain highest 
                                standard for the opportunities and learn to improve with dignity, fair, just and be ethical in all matters.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       <!--start partnar section-->
         {% include partnar.html %}
        
        <!--end partnar section-->
       
        <section class="approachSec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="approachItem">
                            <h2>Our Team</h2>
                            <p>We are authorised member of Sydney markets and registered company for Recruitment consultants.
                                We have team of experts who are diverse and have complete overview knowledge on current market trends and 
                                employment requirements. They join hands to deliver utmost requirements of the employer’s satisfaction as 
                                the main motto.
                            </p>
                            <ul class="appteam">
                                <li>HR Solutions</li>
                                <li>Market Research Team</li>
                                <li>Business Development Team</li>
                                <li>Global Business Management Team</li>
                                <li>Legal Team</li>
                                <li>Interview Expert Team</li>
                                <li>Document and Certification Checking team</li>
                                <li>Training and Skills team</li>
                                <li> Data and Roster Management Team</li>
                                <li> Accounting Team</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="approachItem">
                            <div class="servimg text-center">
                                <img src="{{ site.baseurl }}assets/images/workforce.jpg" alt="">
                            </div>
                            <h2>Our Services</h2>
                            <p>You have a large or a small growing enterprise and searching for the right kind of staff who help you
                                to achieve your goals in the business. to help you The solutions support a range of industries like Ware
                                house, Fruits and Vegetables, Meat Processing Units, Transport & logistics, Primary manufacturing, 
                                food & pharmaceuticals, Hotels & Hospitality trades, Bakeries, Laundries ‘and other utilities & infrastructure 
                                industries which are looking for active candidates on Casual, Contract and permanent positions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end end approch section-->

       {% include learmore.html %}
       
        