---
layout: mates
title: Home
---

        <!--start slider section-->
        {% include slider.html %}
        <!--end slider section-->
        
        
        
        {% include learmore.html %}

        <!--start about us-->
        <section class="employearsSec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="employersPart">
                            <h2>our employers</h2>
                            <p>Our approach is Service oriented and client friendly, we understand the requirements of the 
                                client and the organisation size and potentiality, the ability.....
                            </p>
                            <ul>
                                <li><a href="">our approach</a></li>
                                <li><a href="">our specialisations</a></li>
                                <li><a href="">promote your business</a></li>
                            </ul>
                            <div class="ab-btun">
                                <a href="index.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="employersImg">
                            <img src="{{ site.baseurl }}assets/images/em1.jpg" alt="em1">
                        </div>
                    </div>
                </div>
                <div class="row" id="aboutmore">
                    <div class="col-lg-6">
                        <div class="employersImg">
                            <img src="{{ site.baseurl }}assets/images/career.jpg" alt="em1">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="employersPart employersPart1">
                            <h2>our candidate</h2>
                            <p>Our approach is Service oriented and client friendly, we understand the requirements of the 
                                client and the organisation size and potentiality, the ability.....
                            </p>
                            <ul>
                                <li><a href="">our approach</a></li>
                                <li><a href="">our specialisations</a></li>
                                <li><a href="">promote your business</a></li>
                            </ul>
                            <div class="ab-btun">
                                <a href="index.html">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end about section-->

        {% include partnar.html %}