<section class="sliderSec">
            <div class="slider">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sliderContent">
                                <h4>welcome to</h4>
                                <h1>mates <span>work</span>force</h1>
                                <p> If you want to hire skilled labour, look no further. If you want to <br> hire skilled labour, look no further. </p>
                                <a href="">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sliderContent">
                                <h4>welcome to</h4>
                                <h1>mates <span>work</span>force</h1>
                                <p> If you want to hire skilled labour, look no further. If you want to <br> hire skilled labour, look no further. </p>
                                <a href="">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sliderContent">
                                <h4>welcome to</h4>
                                <h1>mates <span>work</span>force</h1>
                                <p> If you want to hire skilled labour, look no further. If you want to <br> hire skilled labour, look no further. </p>
                                <a href="">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>