<!DOCTYPE Html>
<html>
    <head>
        <title>matesworkforce</title>

        <!--all meta tag-->

        <meta charset="UTF-8">
        <meta name="keywords" content="html,css,js,xml,bootstrap">
        <meta name="Author" content="Rasel">
        <meta name="description" content="this is our project class and HW">
        <meta name="viewport" content="width=device-width">

        <!-- All CSS Files -->

        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/owl.carousel.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/preset.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/responsive.css"/>
        <!-- End CSS Including -->
    </head>
    <body>
        <!--start header section-->
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="headerLogo">
                            <a href="index.html"><img src="{{ site.baseurl }}assets/images/logo.png" alt="header logo"></a>
                        </div>
                    </div> 
                    <div class="col-lg-9">
                        <div class="headerInfo pull-right">
                            <i class="fa fa-phone"> <span> Landline: 02 9258 1022</span></i>
                            <i class="fa fa-clock-o"> <span> Mon - Fri 09:00 - 17:00 </span></i>
                            <i class="fa fa-paper-plane-o"> <span> 12 Main Street Pt. Ham</span></i>
                            <a href="">get a qoute</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--end header section-->

        <!--start header menu section-->
        <section class="headerMenu">
            <div class="headFIx">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="MobileMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <nav class="Hmenu">
                                <ul>
                                    <li><a href="index.html">home</a></li>
                                    <li><a href="about.html">about us</a> </li>
                                    <li><a href="candidate4.html">employers</a>
                                        <ul class="submenu">
                                            <li><a href="">our approach</a></li>
                                            <li><a href="">our specialisations</a></li>
                                            <li><a href="">promote your business</a></li>
                                            <li><a href="">submit job vacancy</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="candidate1.html">candidate</a>
                                        <ul class="submenu">
                                            <li><a href="candidate1.html">our approach</a></li>
                                            <li><a href="candidate2.html">tips and advice</a></li>
                                            <li><a href="candidate3.html">frequently asked question</a></li>
                                            <li><a href="candidate4.html">employers</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">contact us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-3 col-lg-offset-3">
                            <div class="menusocail ">
                                <a href="" class="face"><i class="fa fa-facebook"></i></a>
                                <a href="" class="twi"><i class="fa fa-twitter"></i></a>
                                <a href="" class="lin"><i class="fa fa-linkedin"></i></a>
                                <a href="" class="goo"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {{ content }}
        
        <section class="CmFooterSec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="SingleCmFooter">
                            <div class="logo FLogo">
                                <a href="#">mates <span>workforce</span></a>
                                <p>Far far away, behind the word mountains, 
                                    far from the countries 
                                    Vokalia and Consonantia, there live the blind texts. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="SingleCmFooter">    
                            <h2>Our services</h2>
                            <div class="FSerMenu">
                                <a href="#">Automotive Parts & System</a>
                                <a href="#">Construction & Engineering</a>
                                <a href="#">Power & Energy</a>
                                <a href="#">Aero Space</a>
                                <a href="#">Ship Building Industry</a>
                                <a href="#">Railway</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="SingleCmFooter">    
                            <h2>USefull links</h2>
                            <div class="FSerMenu">
                                <a href="#">Automotive Parts & System</a>
                                <a href="#">Construction & Engineering</a>
                                <a href="#">Power & Energy</a>
                                <a href="#">Aero Space</a>
                                <a href="#">Ship Building Industry</a>
                                <a href="#">Railway</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="SingleCmFooter">
                            <h2>Newsletter</h2>
                            <div class="FSerMenu">
                                <p>Don’t miss to subscribe to our news feeds, kindly fill the form below.</p>
                                <div class="FserGroup">
                                    <input type="email" class="FSerMail">
                                    <button class="NewsLBtn">Join</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--CommFooterSec End here by shagor here-->


        <!--start footer section-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footerwedget">
                            <p>Copyright 2017 <a href="">matesworkforce</a>. All Rights Reserved. Design by APMS</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="menusocail pull-right">
                            <a href="" class="face"><i class="fa fa-facebook"></i></a>
                            <a href="" class="twi"><i class="fa fa-twitter"></i></a>
                            <a href="" class="lin"><i class="fa fa-linkedin"></i></a>
                            <a href="" class="goo"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <!-- All JS Files --> 
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/jquery.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/main.js"></script>  
        <!--All JS File Including End here-->
    </body>

</html>